html {
  background-color: #282828;
  color: #ebdbb2;
  font-family: JetBrains Mono, monospace;
}

body {
  color-scheme: light dark;

  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a{
  color: #689d6a;
  text-decoration: none;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}