@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}


@plugin "daisyui/theme" {
  name: "gruvbox";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #504945;
  --color-base-200: #3C3836;
  --color-base-300: #282828;
  --color-base-content: #EBDBB2;
  --color-primary: #458588;
  --color-primary-content: #EBDBB2;
  --color-secondary: #B16286;
  --color-secondary-content: #EBDBB2;
  --color-accent: #8EC07C;
  --color-accent-content: #282828;
  --color-neutral: #1D2021;
  --color-neutral-content: #EBDBB2;
  --color-info: #83A598;
  --color-info-content: #282828;
  --color-success: #B8BB26;
  --color-success-content: #282828;
  --color-warning: #FABD2F;
  --color-warning-content: #282828;
  --color-error: #FB4934;
  --color-error-content: #282828;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0px;
  --depth: 0;
  --noise: 0;
  --text-base: 1rem;
}

html {
  font-size: var(--text-2xl);
  font-family: JetBrains Mono, monospace;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}
