---
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle = "505";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

interface Props {
  error: unknown;
}

const { error } = Astro.props;

---
<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
	<div class="block">
		
	</div>
	<div>{error instanceof Error ? error.message : "Unknown error"}</div>

	

</BaseLayout>
