---
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle = "404: Not found";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

---
<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
	<div class="block">
		<a href={translatePath("/")}>
			Retour
		</a>
	</div>

	

</BaseLayout>
