---
import BlogIndexLayout from "@layouts/BlogIndexLayout.astro";
---
<BlogIndexLayout>
  <p slot="introduction">
    This is where I will post about my journey learning Astro.EN
  </p>
  
  <div slot="content">
    Content
  </div>
</BlogIndexLayout>
