---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting  from '../components/Greetings';

const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>This website is currently under construction</h2>

    <!-- <Greeting client:load messages = {["Hello","Hi", "Howdy", "Hey there"]} /> -->

    <p>
        It will be populated once <a href="https://astro.build/">Astro</a> is fully operational. 
    </p>

</BaseLayout>
