---
import { ClientRouter } from "astro:transitions";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {pageTitle} = Astro.props;

---
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml+gif" href="/cat.gif" />
    <link rel="canonical" href="https://bigouden.org/"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta content="0;url=/fr/"  />
    <meta charset="UTF-8"/>
    <meta name="description" content={t('meta.desc')}>

    <title>{pageTitle}</title>
    <!-- <ClientRouter /> -->
</head>
