---
---
<!-- <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
</div> -->


<div class="navbar bg-base-100 hidden md:flex">
    <div class="flex-1">
      <a class="text-4xl" href="/">BigOuden</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li class="text-accent"><a href="/blog/">Blog</a></li>
        <li class="text-accent"><a href="/about/">Projetcs</a></li>
        <li class="text-accent"><a href="/tags/">Tags</a></li>
      </ul>
    </div>
  </div>
