---
interface Props {
	returnText: String;
};
const {
	returnText = ""
} =	Astro.props;
---
<div class="flex flex-row space-x-2 bg-info text-info-content px-2 w-fit cursor-pointer" onclick="window.history.back();">
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
		<title>Return</title>
  	<path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
	</svg>
	<div id="return-text">
		{returnText}
	</div>


</div>
